<p id="notice"><%= notice %></p>

<h1>Time Sheets</h1>

<table>
  <thead>
    <tr>
      <th>Clock in</th>
      <th>Started</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_sheets.each do |time_sheet| %>
      <tr>
        <td><%= time_sheet.clock_in %></td>

        <td><%= link_to 'Show', time_sheet %></td>
        <td><%= link_to 'Edit', edit_time_sheet_path(time_sheet) %></td>
        <td><%= link_to 'Destroy', time_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if time_sheet.clock_out.nil? %>
          <td><%= form_for time_sheet, url: clock_out_path(time_sheet) do |f| %>
              <%= f.submit "Clock out"  %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Sheet', new_time_sheet_path %>
